<a href="https://colab.research.google.com/github/ErickNoGit/Exerc-cios/blob/main/Atividade_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
import pandas as pd

##Obtendo os dados: 
Ao rodarmos a célula abaixo vamos obter os dados diretamente do site:

http://dados.recife.pe.gov.br/tl/dataset/relacao-de-pessoas-vacinadas-covid-19/resource/966e9c4c-df45-40d7-9c58-2f13c61a6d28

In [77]:
df1 = pd.read_csv('http://dados.recife.pe.gov.br/dataset/2b5ee58d-9535-4d80-ab32-f63fd475346e/resource/93f4e8c2-430f-4142-86b3-96dab4905b4e/download/casosgravescovid.csv', sep=";")

Utilize os comandos aprendidos em aula para os dados carregados, começando, preferencialmente, por:
- head()
- head(1-2)
- tail()
- info()
- describe()
- seguindo com outros aprendidos para manipulação de tratamento dos dados.

In [78]:
df1.describe()

,data_notificacao,sexo,raca,etnia,idade,municipio_residencia,bairro,distrito_sanitario,data_inicio_sintomas,sintomas,outros_sintomas,doencas_preexistentes,outras_doencas_preexistentes,profissional_saude,categoria_profissional,classificacao_final,evolucao,data_obito
count,36435,36435,30106,4,36435,36435,36435,36435,36435,34477,5974,13698,7807,27338,2914,36435,35458,9344
unique,836,3,6,1,127,3,106,10,850,3440,2370,244,3344,2,23,4,5,785
top,2020-04-23,Feminino,Parda,Ignorado,57,Recife,BOA VIAGEM,IV,2020-04-20,"Febre, Tosse, Dispneia, Saturação O2 < 95",ASTENIA,Doenças Cardíacas ou Vasculares,HAS,NÃO,Outro profissional de serviço de saúde,CONFIRMADO,RECUPERADO,2020-05-09
freq,464,18643,15040,4,646,36433,2972,6392,359,2535,946,3827,1493,24424,1900,17816,18931,72

In [79]:
df2 = df1.copy()

**Listando colunas para definição do objetivo**

In [80]:
df2.columns.unique()

Index(['data_notificacao', 'sexo', 'raca', 'etnia', 'idade',
       'municipio_residencia', 'bairro', 'distrito_sanitario',
       'data_inicio_sintomas', 'sintomas', 'outros_sintomas',
       'doencas_preexistentes', 'outras_doencas_preexistentes ',
       'profissional_saude', 'categoria_profissional', 'classificacao_final',
       'evolucao', 'data_obito'],
      dtype='object')

#**Objetivo: Classificar uma porcentagem entre sexo feminino e masculino, apenas nos infectados!**

In [81]:
#exclusão de colunas desnecessárias para esse objetivo
display(df1)

,data_notificacao,sexo,raca,etnia,idade,municipio_residencia,bairro,distrito_sanitario,data_inicio_sintomas,sintomas,outros_sintomas,doencas_preexistentes,outras_doencas_preexistentes,profissional_saude,categoria_profissional,classificacao_final,evolucao,data_obito
0,2020-05-30,Masculino,Branca,NaN,53,Recife,SAN MARTIN,V,2020-05-25,"Febre, Tosse, Mialgia, Alteração/perda de olfa...",NaN,NaN,NaN,NaN,NaN,DESCARTADO,ISOLAMENTO DOMICILIAR,NaN
1,2020-06-02,Feminino,Parda,NaN,0,Recife,ALTO SANTA TEREZINHA,II,2020-05-30,"Febre, Tosse, Dispneia, Saturação O2 < 95",NaN,NaN,NaN,NaN,NaN,INCONCLUSIVO,ISOLAMENTO DOMICILIAR,NaN
2,2020-06-02,Feminino,Parda,NaN,86,Recife,ESPINHEIRO,III,2020-06-01,"Dispneia, Saturação O2 < 95",NaN,NaN,NaN,NaN,NaN,DESCARTADO,INTERNADO LEITO DE ISOLAMENTO,NaN
3,2020-06-01,Masculino,Branca,NaN,66,Recife,CASA FORTE,III,2020-05-25,NaN,NaN,NaN,NaN,NaN,NaN,CONFIRMADO,RECUPERADO,NaN
4,2020-06-02,Masculino,Preta,NaN,68,Recife,ILHA DO RETIRO,IV,2020-05-30,"Tosse, Dispneia, Saturação O2 < 95",NaN,NaN,NaN,NaN,NaN,DESCARTADO,INTERNADO LEITO DE ISOLAMENTO,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36430,2022-06-08,Masculino,Ignorado,NaN,77,Recife,BREJO DA GUABIRABA,VII,2022-06-06,Dispneia,NaN,NaN,HAS,NÃO,NaN,EM ANÁLISE,INTERNADO UTI,NaN
36431,2022-06-09,Masculino,Parda,NaN,74,Recife,NOVA DESCOBERTA,VII,2022-06-06,"Tosse, Cansaço/fadiga, Desconforto respiratóri...",NaN,NaN,NaN,NÃO,NaN,EM ANÁLISE,INTERNADO LEITO DE ISOLAMENTO,NaN
36432,2022-06-10,Masculino,Parda,NaN,74,Recife,BEBERIBE,II,2022-06-03,"Febre, Tosse, Dispneia",NaN,Diabetes,NaN,NÃO,NaN,EM ANÁLISE,INTERNADO LEITO DE ISOLAMENTO,NaN
36433,2022-06-12,Feminino,Amarela,NaN,73,Recife,ENGENHO DO MEIO,IV,2022-06-11,"Dispneia, Desconforto respiratório / aperto to...",NaN,"Doenças Cardíacas ou Vasculares, Diabetes",AVC,NÃO,NaN,EM ANÁLISE,INTERNADO UTI,NaN
36434,2022-06-12,Feminino,Parda,NaN,66,Recife,BOA VIAGEM,VI,2022-06-07,"Tosse, Dispneia, Desconforto respiratório / ap...",RNC,NaN,AVCH,NÃO,NaN,EM ANÁLISE,INTERNADO UTI,NaN

In [82]:
df1.describe()

,data_notificacao,sexo,raca,etnia,idade,municipio_residencia,bairro,distrito_sanitario,data_inicio_sintomas,sintomas,outros_sintomas,doencas_preexistentes,outras_doencas_preexistentes,profissional_saude,categoria_profissional,classificacao_final,evolucao,data_obito
count,36435,36435,30106,4,36435,36435,36435,36435,36435,34477,5974,13698,7807,27338,2914,36435,35458,9344
unique,836,3,6,1,127,3,106,10,850,3440,2370,244,3344,2,23,4,5,785
top,2020-04-23,Feminino,Parda,Ignorado,57,Recife,BOA VIAGEM,IV,2020-04-20,"Febre, Tosse, Dispneia, Saturação O2 < 95",ASTENIA,Doenças Cardíacas ou Vasculares,HAS,NÃO,Outro profissional de serviço de saúde,CONFIRMADO,RECUPERADO,2020-05-09
freq,464,18643,15040,4,646,36433,2972,6392,359,2535,946,3827,1493,24424,1900,17816,18931,72

In [83]:
df_list = df1[['sexo', 'idade', 'municipio_residencia', 'evolucao', 'data_obito']]
display(df_list)

,sexo,idade,municipio_residencia,evolucao,data_obito
0,Masculino,53,Recife,ISOLAMENTO DOMICILIAR,NaN
1,Feminino,0,Recife,ISOLAMENTO DOMICILIAR,NaN
2,Feminino,86,Recife,INTERNADO LEITO DE ISOLAMENTO,NaN
3,Masculino,66,Recife,RECUPERADO,NaN
4,Masculino,68,Recife,INTERNADO LEITO DE ISOLAMENTO,NaN
...,...,...,...,...,...
36430,Masculino,77,Recife,INTERNADO UTI,NaN
36431,Masculino,74,Recife,INTERNADO LEITO DE ISOLAMENTO,NaN
36432,Masculino,74,Recife,INTERNADO LEITO DE ISOLAMENTO,NaN
36433,Feminino,73,Recife,INTERNADO UTI,NaN
36434,Feminino,66,Recife,INTERNADO UTI,NaN

In [84]:
quantidade_M = df_list.loc[df_list['sexo'] == 'Masculino']
display(quantidade_M.describe())

             sexo  idade municipio_residencia    evolucao  data_obito
count       17790  17790                17790       17307        4775
unique          1    121                    3           5         730
top     Masculino     58               Recife  RECUPERADO  2020-05-09
freq        17790    350                17788        9270          40

Segundo a tabela de valores acima, há uma quantidade de 17790 homens infectados, e desses 17790 morreram 4775. Com residência no Recife.

In [85]:
quantidade_F = df_list.loc[df_list['sexo'] == 'Feminino']
display(quantidade_F.describe())

            sexo  idade municipio_residencia    evolucao  data_obito
count      18643  18643                18643       18149        4569
unique         1    127                    1           5         730
top     Feminino     60               Recife  RECUPERADO  2020-05-16
freq       18643    308                18643        9660          35

No sexo Feminino 18643 foram infectados, 4569 morreram e todos com residência em Recife.

In [86]:
feminino = 4569
masculino = 4775
total_mortes = masculino + feminino

In [87]:
df_list.value_counts('sexo')

sexo
Feminino     18643
Masculino    17790
Ignorado         2
dtype: int64

In [88]:
totalDeInfec = 18643 + 17790
print(totalDeInfec)

36433

**Segundo O IBGE,** com dados publicados pela globo:(https://g1.globo.com/pe/pernambuco/noticia/2020/08/27/pernambuco-atinge-96-milhoes-de-habitantes-em-2020-estima-ibge.ghtml), em 2020 havia **1.653.461 habitantes**. Desse número 36433 entre homens e mulheres de todas as idades estavam infectados com COVID-19.

In [89]:
#calculando porcentagem em relação a população
habitantes = 1653461
sexoMF = 36433
porcentagem = (sexoMF*100)/ habitantes
valor = str(("%.2f" %(porcentagem)))
valor += '%'
print('cerca de %s da população em Recife no ano de 2020!' %(valor))

cerca de 2.20% da população em Recife no ano de 2020!