<a href="https://colab.research.google.com/github/ErickNoGit/Exerc-cios/blob/main/Exercicio_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Prática: for, while, enumerate e assuntos anteriores

1. Crie uma variável chamada contador = 0. Enquanto
counter for menor que 100, imprima os valores na tela.

In [ ]:
contador = 0

while contador < 100:
  print(contador)
  contador +=1 #coloquei pra parar

2. Crie uma lista vazia e uma variável com valor 4.
Enquanto o valor da variável for menor ou igual a 20,
adicione à lista, apenas os valores pares e imprima a lista.

In [ ]:
lista = []
valor = 4
while valor <= 20:
  lista.append(valor)
  valor += 2
print(lista)

3. Faça a correção dos erros no código abaixo e execute o
programa

In [ ]:
#temperatura = ﬂoat(input(Qual a temperatura? ))
#if temperatura > 30
#print('Vista roupas leves.')
#else
#print('Busque seus casacos.')

correção

In [ ]:
temperatura = ﬂoat(input('Qual a temperatura? '))
if temperatura > 30:
  print('Vista roupas leves.')
else:
  print('Busque seus casacos.')

4. Faça um programa que conte quantas vezes a letra "s"
aparece na frase abaixo.
“'Educação não transforma o mundo. Educação muda
pessoas. Pessoas transformam o mundo." (Paulo Freire)

In [41]:
lista = 'Educação não transforma o mundo. Educação muda pessoas. Pessoas transformam o mundo'
print(lista.count('s'))

8

5. Faça um programa que conte quantas vezes a letra "s"
aparece na frase abaixo.
“'Educação não transforma o mundo. Educação muda
pessoas. Pessoas transformam o mundo." (Paulo Freire)

In [42]:
lista = 'Educação não transforma o mundo. Educação muda pessoas. Pessoas transformam o mundo'
print(lista.count('s'))

8

6. Considere a lista abaixo e retorne apenas os elementos
cujo índice for maior que 5.
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [44]:
lista = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
print(lista[6:])

['g', 'h']

7. Crie um terceiro dicionário com as chaves do dicionário 1
e os valores do dicionário 2 abaixo.
dict1 = {'a':1,'b':2} dict2 = {'c':4,'d':5}

In [47]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 4, 'd': 5}
print(dict(dict1, **dict2))

{'a': 1, 'b': 2, 'c': 4, 'd': 5}

8.

In [48]:
for um_valor in range(10):
  print(um_valor)

0
1
2
3
4
5
6
7
8
9

9.

In [49]:
for um_char in "Venha para a festa":
  print(um_char)

V
e
n
h
a

p
a
r
a

a

f
e
s
t
a